body{
    background-color: rgb(17, 15, 40);
    font-family: 'Roboto', sans-serif;

}
.wrapper{
  display: flex;
  flex-direction: column;
}

  .box{
    height: 50vw;
  }
  .main_container{
    margin: 0 auto;
    width: 55vw;
    display: flex;
    flex-direction: column;
    margin-top: 10% ;
    gap: 5vw;
  }
  @media (max-width:600px) { 
    .main_container{
      margin: 0 auto;
      width:90vw;
      display: flex;
      flex-direction: column;
      margin-top: 15% ;
      gap: 5vw;
    }
  }




  
  